<div class="card-container">
  <div class="row">
    <div class="col-md-12">
      <kendo-card class="kendo-card" style="min-width:1200px">
        <kendo-card-body>
          <i class="material-icons">{{icon}}</i>
          <div class="card-title"><h4>About</h4></div>
          This projects shows how to build interactive maps and charts of COVID-19 data inside an Angular 9 application using the D3 JavaScript framework.
          <ul>
            <li>
              <a href="https://medium.com/@johncbowyer/covid-19-maps-in-angular-9-using-d3-js-b14843795a0c" target="_blank">Story about site</a>
            </li>
            <li>
              <a href="https://jcbowyer.github.io/d3-in-angular/) to view the demo app" target="_blank">Source code for site</a>
            </li>
          </ul>
          Data comes from
          <ul>
            <li>
              <a href="https://github.com/nytimes/covid-19-data" target="_blank">NY Times COVID-19 Data</a>
            </li>
            <li>
              <a href="https://github.com/NovelCOVID" target="_blank">Novel COVID Api</a>
            </li>
          </ul>
          For feedback and suggestions contact me on
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/johnbowyeratl/" target="_blank">LinkedIn</a>
            </li>
            <li>
              <a href="https://twitter.com/jcbowyer" target="_blank">Twitter</a>
            </li>
          </ul>
        </kendo-card-body>
      </kendo-card>
    </div>
  </div>
</div>

