<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header display-4">
                Home
            </h1>
            <h2>Do whatever you want when you want to.</h2>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>
    </div>
    <div class="jumbotron bg-black">
        <div class="row">
            <div class="card col p-3 m-3">
                <div class="ui statistics three">
                    <div class="statistic">
                        <div class="label">
                            Total Confirmed
                        </div>
                        <div class="value">
                            {{totalConfirmed | number}}
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="label">
                            Total Recovered
                        </div>
                        <div class="value">
                            {{totalRecovered | number}}
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="label">
                            Total Deaths
                        </div>
                        <div class="value">
                            {{totalDeaths | number}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <canvas id="myChart" height="40px" width="40px"></canvas>
        </div>
        <div class="col">asd</div>
    </div>
</div>