<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <!-- <div class="ui fluid search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Select Country</div>
            <div class="menu">
                <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
                <div class="item" data-value="al"><i class="al flag"></i>Albania</div>

            </div> -->
        </div>

    </div>
</div>